<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- Write logs to a rolling file -->
		<target xsi:type="File"
				name="logfile"
				fileName="logs/app-${shortdate}.log"
			    layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=toString}"
				createDirs="true"
				archiveNumbering="Rolling"
				maxArchiveFiles="7"
				archiveAboveSize="1048576" />
		<!-- 1 MB -->
	</targets>

	<rules>
		<!-- Log all messages of Info level and above -->
		<logger name="*" minlevel="Info" writeTo="logfile" />
	</rules>
</nlog>
